__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
venv
.env
.idea
.vscode
*.log
.coverage
htmlcov
.DS_Store
*.md
docs
документы
static/js/*.js
!static/js/main.js
!static/js/event.js
!static/js/geoprofiles.js
!static/js/interests.js
!static/js/tracked.js
!static/js/recommendations.js