{% extends "base.html" %}

{% block content %}
<div class="row mb-3 g-2">
  <div class="col-12">
    <div class="input-group">
      <input id="search"
       class="form-control"
       placeholder="Поиск">
      <button id="btn-search" class="btn btn-secondary">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    <h5 class="mb-3">Рекомендации</h5>
    <div id="recs" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"></div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12 d-flex justify-content-center">
    <nav>
      <ul id="pagination" class="pagination"></ul>
    </nav>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  const YANDEX_API_KEY = "{{ yandex_api_key }}";
</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
